    </div>
    <footer>
        <div class="container">
            <p>&copy; <script>document.write(new Date().getFullYear());</script> - Roberto Pérez Huguet - Gestor de Historias de Usuario - Roberto Pérez Huguet</p>
        </div>
    </footer>
    <script src="/script.js"></script>
</body>
</html>
